@font-face {
  font-family: 'cabin';
  src: url("https://berkay-yalin.github.io/berkay-yalin.io/Cabin-VariableFont_wdth%2Cwght.ttf");
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #2e323b;
}

body > div {
  height: 95vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body > nav {
  height: 5vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #21252B;
}
body > nav > button {
  cursor: pointer;
}

#homeButton {
  height: 100%;
  grid-area: 2 / 2 / 2 / 2;

  font-size: 2vh;
  font-family: 'cabin';
  font-weight: bold;
  color: white;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
}
