---
import { getCollection } from "astro:content";
import Landing from "@layouts/Landing.astro";

const posts = (await getCollection("articles")).sort((a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf());
---

<Landing>
    <h1>Articles</h1>

    <ul>
        {
            posts.map((post) => (
                <li>
                    <span class="date">
                        <code>{post.data.publicationDate.getFullYear()}</code>
                        <code>•</code>
                        <code>{("0" + (post.data.publicationDate.getMonth() + 1).toString()).slice(-2)}</code>
                    </span>

                    <a class="title" href={`/articles/${post.slug}/`}>
                        {post.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</Landing>

<style lang="scss">
    @use "@styles/landing";

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    li {
        list-style-type: none;
    }

    .date {
        color: white;
        padding-right: 0.5rem;
        box-sizing: border-box;
    }
</style>
