@import "~styles/reset.css";

:root {
    --color-link: rgb(88, 166, 255);
    --color-grey: rgb(139, 148, 158);
    --background-color: #111111;
    --foreground-color: #21252b;
}

html {
    color-scheme: dark;
    background-color: var(--background-color);
}

body {
    font-family: var(--font-atkinson-hyperlegible);
}
