// landing pages for the website: index.astro, projects.astro, articles/index.astro

html,
body {
    background-color: #111111;
}

$text-color: rgb(139, 148, 158);
$link-color: rgb(88, 166, 255);
$white-smoke: #f5f5f5;

main {
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: grey;
    margin: 0;
    padding-top: 2rem;
    box-sizing: border-box;
}

a {
    color: $link-color;
}
