main {
    max-width: calc(1000px + 2rem);
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: rgb(139, 148, 158);
    margin: 0;
    padding-top: 2rem;
    box-sizing: border-box;
}
