@use "~styles/colors";

article {
    color: white;

    > p,
    > pre {
        margin: 16px 0;
    }
}

blockquote {
    font-style: italic;
    color: lightgrey;
}

p,
pre {
    margin: 0;
}

.astro-code {
    padding: 0.25rem;
    box-sizing: border-box;
}

a {
    color: colors.$link;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
