@use "styles/colors";
@use "styles/remark-github-blockquote-alert";

article {
    color: white;

    code {
        font-family: var(--font-ubuntu-sans-mono);
    }

    blockquote {
        font-style: italic;
        color: lightgrey;
    }

    p,
    pre {
        margin: 0;
    }

    > p,
    > pre {
        margin: 16px 0;
    }

    .astro-code {
        padding: 0.25rem;
    }

    a {
        color: colors.$link;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
