$link-color: rgb(88, 166, 255);

p {
    font-size: 1.125rem;
}

article {
    color: white;
}

a {
    color: $link-color;
}

blockquote {
    font-style: italic;
    color: lightgrey;
}

.katex-html {
    display: none !important;
}
