---
import Primary from "~layouts/Primary.astro";
import "~styles/global.scss";
---

<script>
    import "~scripts/index";
</script>

<Primary title="yalin.io" description="website & stuff">
    <div id="canvas-wrapper"></div>
</Primary>

<style lang="scss">
    #canvas-wrapper {
        position: fixed;
        inset: 0;
        z-index: -1;
    }
</style>
