---
import Landing from "@layouts/Landing.astro";
---

<script>
    import "@scripts/index";
</script>

<Landing style="max-width: 100%">
    <div id="canvas-wrapper"></div>
</Landing>

<style lang="scss">
    @use "@styles/landing";

    #canvas-wrapper {
        height: calc(100dvh - 97px - 2rem);
        width: 100%;
    }
</style>
