---
import MetaHead from '../components/Head.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Navigation from "../components/Navigation.astro";
import Computer from "../components/Canvas";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<MetaHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
        <Navigation/>
        <Computer client:only="react"/>
	</body>
</html>

<style>
    html, body {
        background-color: #111111;
    }
</style>
