---
import Layout from "~layouts/Layout.astro";
import "~styles/global.scss";
---

<script>
    import "~scripts/index";
</script>

<Layout title="yalin.io" description="website & stuff">
    <div id="canvas-wrapper"></div>
</Layout>

<style lang="scss">
    #canvas-wrapper {
        position: fixed;
        inset: 0;
        z-index: -1;
    }
</style>
