---
import MetaHead from "~components/Head.astro";
import Navigation from "~components/Navigation.astro";
import "~styles/global.scss";
---

<script>
    import "~scripts/index";
</script>

<html lang="en">
    <head>
        <MetaHead title="yalin.io" description="website & stuff" />
    </head>

    <body>
        <Navigation />

        <main>
            <div id="canvas-wrapper"></div>
        </main>
    </body>
</html>

<style lang="scss">
    main {
        max-width: 100%;
    }

    #canvas-wrapper {
        height: calc(100dvh - 97px - 2rem);
        width: 100%;
    }
</style>
