---
import MetaHead from "@components/Head.astro";
import "@styles/global.scss";

const SITE_TITLE = "Zygon";
const SITE_DESCRIPTION = "Transpile GCSE & A-Level Pseudocode into Python.";
---

<script>
    window.location.href = "https://ostromia.github.io/zygon/";
</script>

<html lang="en">
    <head>
        <MetaHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
