<nav>
    <a href="/projects">projects</a>
    <a href="/articles">articles</a>
    <a href="https://github.com/ostromia" target="_blank">github</a>
</nav>

<style lang="scss">
    nav {
        display: flex;
        justify-content: end;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
    }

    a {
        color: grey;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        color: white;
    }
</style>
