---
const currentPath = Astro.url.pathname;
---

<nav>
    <a href="/projects" class={currentPath === "/projects/" ? "active" : ""}>projects</a>
    <a href="/articles" class={currentPath === "/articles/" ? "active" : ""}>articles</a>
    <a href="https://github.com/ostromia">github</a>
</nav>

<style lang="scss">
    nav {
        display: flex;
        justify-content: end;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
    }

    a {
        color: grey;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        color: white;
    }

    .active {
        color: white;
    }
</style>
