---
const currentPath = Astro.url.pathname;
---

<nav class={currentPath == "/" ? "home" : "other"}>
    {
        currentPath != "/" && (
            <a href="/" class={currentPath === "/" ? "active" : ""}>
                home
            </a>
        )
    }
    <a href="/projects" class={currentPath === "/projects/" ? "active" : ""}>projects</a>
    <a href="/articles" class={currentPath === "/articles/" ? "active" : ""}>articles</a>
    <a href="https://github.com/ostromia">github</a>
</nav>

<style lang="scss">
    nav {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
    }

    .home {
        grid-template-columns: repeat(3, min-content);
        justify-content: end;
    }

    .other {
        grid-template-columns: 1fr repeat(3, min-content);
    }

    a {
        color: grey;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        color: white;
    }

    .active {
        color: white;
    }
</style>
