#pseudoEditor {
  grid-column: 1;
  grid-row: 2;
}

#pythonEditor {
  grid-column: 2;
  grid-row: 2;
}

#J277Editor {
  grid-column: 2;
  grid-row: 2;
  z-index: 99;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
