#pseudoLogo, #pythonLogo {
  height: 1.5vw;
  width: 1.5vw;
}

#pseudoSpan, #pythonSpan {
  font-size: 1.25vw;
  font-family: 'cabin';
  color: white;
  margin: auto 0 auto 2vw;
}

#pseudoLogo   { grid-area: 2 / 2 / 2 / 2 }
#pseudoSpan   { grid-area: 2 / 2 / 2 / 2 }

#pythonLogo   { grid-area: 2 / 3 / 2 / 3 }
#pythonSpan   { grid-area: 2 / 3 / 2 / 3 }

#J277Editor {
  grid-area: 3 / 3 / 3 / 3;
  z-index: 99;

  display: flex;
  flex-direction: column;
  overflow: auto;
}
