---
import type { CollectionEntry } from "astro:content";
import Head from "~components/Head.astro";
import Navigation from "~components/Navigation.astro";
import "~styles/global.scss";
import "~styles/markdown.scss";

type Props = CollectionEntry<"articles">["data"];
const { title, description, publicationDate, updatedDate, heroImage } = Astro.props;

function formatDate(date: Date) {
    return new Intl.DateTimeFormat("en-US", {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric"
    }).format(date);
}
---

<html lang="en">
    <head>
        <Head title={title} description={description} />
    </head>

    <body>
        <Navigation />
        <main>
            <article>
                <div class="hero-wrapper">
                    <div class="date">{formatDate(publicationDate)}</div>
                    <div class="title">{title}</div>
                </div>

                <slot />
            </article>
        </main>
    </body>
</html>

<style lang="scss">
    article {
        max-width: 720px;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
    }

    .hero-wrapper {
        margin: auto;
        text-align: center;
    }

    .date {
        font-size: 1rem;
    }

    .title {
        font-size: 1.25rem;
        padding: 0.5rem 0;
        box-sizing: border-box;
    }
</style>
