---
import Head from "~components/Head.astro";
import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";
import "~styles/global.scss";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

const isIndex = Astro.url.pathname == "/";
---

<html lang="en">
    <Head title={title} description={description} />

    <body>
        <Navigation />

        <main style={isIndex ? undefined : "max-width: 600px"}>
            <slot />
        </main>

        {!isIndex && <Footer />}
    </body>
</html>

<style lang="scss">
    main {
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 1rem;
    }
</style>
