@font-face {
  font-family: 'cabin';
  src: url('/../resources/Cabin-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'kanit';
  src: url('/../resources/Kanit-Black.ttf');
}

/* NAVIGATION MENU */
body > nav {
  display: grid;
  grid-template-columns: 0 auto 1fr 0;
  grid-template-rows: 0 1fr 0;
  gap: 0.5vh;
}



/* MAIN CONTAINER */
body > div {
  display: flex;
  flex-direction: row;
}

body > div > div {
  height: 95vh;
  width: 50vw;
}



/* GITHUB DIV */
#d1 {
  height: 5vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

#d1 > span {
  font-size: 1.25vw;
  font-family: 'cabin';
  color: white;
}

#d2 {
  height: 30vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 1rem;
}
#d2 > img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#d3 {
  height: 10vh;
  width: 50vw;

  overflow: hidden;

  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#d3 > img {
  height: 100%;
  width: 100%;
  padding: 1rem;
  filter: drop-shadow(0.5rem 0.5rem 1px #494e5a);
}

#d4 {
  height: 50vh;
  width: 50vw;
  box-sizing: border-box;
  padding: 0.5rem;
}

#d4 > div {
  height: 100%;
  width: 100%;
  overflow: auto;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

#d4 > div > div {
  height: 100%;
  width: 100%;
  background-color: #e1e4e8;
  border-radius: 6px;
}

#ghr1 { grid-area: 1 / 1 / 1 / 1; }
#ghr2 { grid-area: 1 / 2 / 1 / 2; }
#ghr3 { grid-area: 2 / 1 / 2 / 1; }
#ghr4 { grid-area: 2 / 2 / 2 / 2; }



/* PROJECTS DIV */
#d5, #d7 {
  height: 5vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

#d5 span, #d7 span {
  font-size: 1.25vw;
  font-family: 'cabin';
  color: white;
}

#d6, #d8 {
  height: 42.5vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 1rem;
}

#d6 > img, #d8 > img {
  height: 100%;
  width: 100%;
  cursor: pointer;

  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
}
